In [1]:
import pandas as pd

In [2]:
tb = pd.read_excel(r'/Users/bedirhankurt/Desktop/Programming/Data Analaysis Project (YFF 2)/Arbeid Delen/Customer Call List.xlsx')

print(tb.to_string())

    CustomerID First_Name    Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact  Not_Useful_Column
0         1001      Frodo      Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No               True
1         1002       Abed        Nadir  123/643/9775                    93 West Main Street              No            Yes              False
2         1003     Walter       /White    7066950392                     298 Drugs Driveway               N            NaN               True
3         1004     Dwight      Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y               True
4         1005        Jon         Snow  876|678|3469                       123 Dragons Road               Y             No               True
5         1006        Ron      Swanson  304-762-2467                       768 City Parkway             Yes            Yes               True
6         1007       Jeff       Winger           NaN                      1209 South Street              No             No              False
7         1008   Sherlock       Holmes  876|678|3469                          98 Clue Drive               N             No              False
8         1009    Gandalf          NaN           N/a                       123 Middle Earth             Yes            NaN              False
9         1010      Peter       Parker  123-545-5421             25th Main Street, New York             Yes             No               True
10        1011    Samwise       Gamgee           NaN                  612 Shire Lane, Shire             Yes             No               True
11        1012      Harry    ...Potter    7066950392                   2394 Hogwarts Avenue               Y            NaN               True
12        1013        Don       Draper  123-543-2345                       2039 Main Street             Yes              N              False
13        1014     Leslie        Knope  876|678|3469                       343 City Parkway             Yes             No              False
14        1015       Toby  Flenderson_  304-762-2467                          214 HR Avenue               N             No              False
15        1016        Ron      Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N              False
16        1017   Michael         Scott  123/643/9775         121 Paper Avenue, Pennsylvania             Yes             No              False
17        1018      Clark         Kent    7066950392                        3498 Super Lane               Y            NaN               True
18        1019      Creed       Braton           N/a                                    N/a             N/a            Yes               True
19        1020     Anakin    Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N               True
20        1020     Anakin    Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N               True

In [3]:
'''Hva skal jeg gjor med denne tabellen?

1. Jeg skal slette alle duplicates. Så får jeg en riktigere og mer effektive tabell.

2. Jeg skal droppe en column som heter "Not_Useful_Column".

2. Jeg skal slette alle NaN itemer. Fordi jeg trenger ikke de og de gjor tabellen mer forvirrende.

3. Jeg skal fikse noen navnene som skrevet på feil måte i First_Name og Last_Name column.

4. Jeg skal fikse Phone_Number column fordi det er mange feil skrivinger der.

5. Jeg skal redigere Paying Costomer og Do_Not_Contact columnene fordi svarene skrevet ikke på samme måte.

6. Jeg skal filtrere tabellen på forskjellige måter. Det hjelper til å forstå dataset og analysere bedre.

7. Reindex itemer i tabellen så kan jeg forstå og analysere variablene bedre.
'''

'Hva skal jeg gjor med denne tabellen?\n\n1. Jeg skal slette alle duplicates. Så får jeg en riktigere og mer effektive tabell.\n\n2. Jeg skal droppe en column som heter "Not_Useful_Column".\n\n2. Jeg skal slette alle NaN itemer. Fordi jeg trenger ikke de og de gjor tabellen mer forvirrende.\n\n3. Jeg skal fikse noen navnene som skrevet på feil måte i First_Name og Last_Name column.\n\n4. Jeg skal fikse Phone_Number column fordi det er mange feil skrivinger der.\n\n5. Jeg skal redigere Paying Costomer og Do_Not_Contact columnene fordi svarene skrevet ikke på samme måte.\n\n6. Jeg skal filtrere tabellen på forskjellige måter. Det hjelper til å forstå dataset og analysere bedre.\n\n7. Reindex itemer i tabellen så kan jeg forstå og analysere variablene bedre.\n'

In [4]:
# Å slette duplicates

tb.drop_duplicates(inplace = True)

print(tb.to_string())

    CustomerID First_Name    Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact  Not_Useful_Column
0         1001      Frodo      Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No               True
1         1002       Abed        Nadir  123/643/9775                    93 West Main Street              No            Yes              False
2         1003     Walter       /White    7066950392                     298 Drugs Driveway               N            NaN               True
3         1004     Dwight      Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y               True
4         1005        Jon         Snow  876|678|3469                       123 Dragons Road               Y             No               True
5         1006        Ron      Swanson  304-762-2467                       768 City Parkway             Yes            Yes               True
6         1007       Jeff       Winger           NaN                      1209 South Street              No             No              False
7         1008   Sherlock       Holmes  876|678|3469                          98 Clue Drive               N             No              False
8         1009    Gandalf          NaN           N/a                       123 Middle Earth             Yes            NaN              False
9         1010      Peter       Parker  123-545-5421             25th Main Street, New York             Yes             No               True
10        1011    Samwise       Gamgee           NaN                  612 Shire Lane, Shire             Yes             No               True
11        1012      Harry    ...Potter    7066950392                   2394 Hogwarts Avenue               Y            NaN               True
12        1013        Don       Draper  123-543-2345                       2039 Main Street             Yes              N              False
13        1014     Leslie        Knope  876|678|3469                       343 City Parkway             Yes             No              False
14        1015       Toby  Flenderson_  304-762-2467                          214 HR Avenue               N             No              False
15        1016        Ron      Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N              False
16        1017   Michael         Scott  123/643/9775         121 Paper Avenue, Pennsylvania             Yes             No              False
17        1018      Clark         Kent    7066950392                        3498 Super Lane               Y            NaN               True
18        1019      Creed       Braton           N/a                                    N/a             N/a            Yes               True
19        1020     Anakin    Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N               True

In [5]:
# Å slette "Not_Useful_Column".

tb = tb.drop(columns = "Not_Useful_Column")
print(tb.to_string())

    CustomerID First_Name    Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact
0         1001      Frodo      Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No
1         1002       Abed        Nadir  123/643/9775                    93 West Main Street              No            Yes
2         1003     Walter       /White    7066950392                     298 Drugs Driveway               N            NaN
3         1004     Dwight      Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4         1005        Jon         Snow  876|678|3469                       123 Dragons Road               Y             No
5         1006        Ron      Swanson  304-762-2467                       768 City Parkway             Yes            Yes
6         1007       Jeff       Winger           NaN                      1209 South Street              No             No
7         1008   Sherlock       Holmes  876|678|3469                          98 Clue Drive               N             No
8         1009    Gandalf          NaN           N/a                       123 Middle Earth             Yes            NaN
9         1010      Peter       Parker  123-545-5421             25th Main Street, New York             Yes             No
10        1011    Samwise       Gamgee           NaN                  612 Shire Lane, Shire             Yes             No
11        1012      Harry    ...Potter    7066950392                   2394 Hogwarts Avenue               Y            NaN
12        1013        Don       Draper  123-543-2345                       2039 Main Street             Yes              N
13        1014     Leslie        Knope  876|678|3469                       343 City Parkway             Yes             No
14        1015       Toby  Flenderson_  304-762-2467                          214 HR Avenue               N             No
15        1016        Ron      Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N
16        1017   Michael         Scott  123/643/9775         121 Paper Avenue, Pennsylvania             Yes             No
17        1018      Clark         Kent    7066950392                        3498 Super Lane               Y            NaN
18        1019      Creed       Braton           N/a                                    N/a             N/a            Yes
19        1020     Anakin    Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N

In [6]:
# Å slette NaN itemer.

tb.dropna(inplace = True, axis = 0)


print(tb.to_string())

    CustomerID First_Name    Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact
0         1001      Frodo      Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No
1         1002       Abed        Nadir  123/643/9775                    93 West Main Street              No            Yes
3         1004     Dwight      Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4         1005        Jon         Snow  876|678|3469                       123 Dragons Road               Y             No
5         1006        Ron      Swanson  304-762-2467                       768 City Parkway             Yes            Yes
7         1008   Sherlock       Holmes  876|678|3469                          98 Clue Drive               N             No
9         1010      Peter       Parker  123-545-5421             25th Main Street, New York             Yes             No
12        1013        Don       Draper  123-543-2345                       2039 Main Street             Yes              N
13        1014     Leslie        Knope  876|678|3469                       343 City Parkway             Yes             No
14        1015       Toby  Flenderson_  304-762-2467                          214 HR Avenue               N             No
15        1016        Ron      Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N
16        1017   Michael         Scott  123/643/9775         121 Paper Avenue, Pennsylvania             Yes             No
18        1019      Creed       Braton           N/a                                    N/a             N/a            Yes
19        1020     Anakin    Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N

In [7]:
# Å fikse feil variablene i First_Name og Last_Name

tb.loc[16, "First_Name"] = "Micheal"

tb.loc[14, "Last_Name"] = "Flenderson"

print(tb.to_string())

    CustomerID First_Name   Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact
0         1001      Frodo     Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No
1         1002       Abed       Nadir  123/643/9775                    93 West Main Street              No            Yes
3         1004     Dwight     Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4         1005        Jon        Snow  876|678|3469                       123 Dragons Road               Y             No
5         1006        Ron     Swanson  304-762-2467                       768 City Parkway             Yes            Yes
7         1008   Sherlock      Holmes  876|678|3469                          98 Clue Drive               N             No
9         1010      Peter      Parker  123-545-5421             25th Main Street, New York             Yes             No
12        1013        Don      Draper  123-543-2345                       2039 Main Street             Yes              N
13        1014     Leslie       Knope  876|678|3469                       343 City Parkway             Yes             No
14        1015       Toby  Flenderson  304-762-2467                          214 HR Avenue               N             No
15        1016        Ron     Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N
16        1017    Micheal       Scott  123/643/9775         121 Paper Avenue, Pennsylvania             Yes             No
18        1019      Creed      Braton           N/a                                    N/a             N/a            Yes
19        1020     Anakin   Skywalker  876|678|3469            910 Tatooine Road, Tatooine             Yes              N

In [8]:
# Å fikse nummere i Phone_Number column.
tb.to_excel('output.xlsx', index=False)
tb = pd.read_excel(r'/Users/bedirhankurt/Desktop/Programming/Data Analaysis Project (YFF 2)/Arbeid Delen/output.xlsx')
ikke_num = r'\D'

tb["Phone_Number"] = tb["Phone_Number"].replace(to_replace = r'\D', value = "-", regex = True)

print(tb.to_string())

tb.to_excel('output1.xlsx', index=False)

    CustomerID First_Name   Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact
0         1001      Frodo     Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No
1         1002       Abed       Nadir  123-643-9775                    93 West Main Street              No            Yes
2         1004     Dwight     Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes              Y
3         1005        Jon        Snow  876-678-3469                       123 Dragons Road               Y             No
4         1006        Ron     Swanson  304-762-2467                       768 City Parkway             Yes            Yes
5         1008   Sherlock      Holmes  876-678-3469                          98 Clue Drive               N             No
6         1010      Peter      Parker  123-545-5421             25th Main Street, New York             Yes             No
7         1013        Don      Draper  123-543-2345                       2039 Main Street             Yes              N
8         1014     Leslie       Knope  876-678-3469                       343 City Parkway             Yes             No
9         1015       Toby  Flenderson  304-762-2467                          214 HR Avenue               N             No
10        1016        Ron     Weasley  123-545-5421                   2395 Hogwarts Avenue              No              N
11        1017    Micheal       Scott  123-643-9775         121 Paper Avenue, Pennsylvania             Yes             No
12        1019      Creed      Braton           ---                                    N/a             N/a            Yes
13        1020     Anakin   Skywalker  876-678-3469            910 Tatooine Road, Tatooine             Yes              N

In [9]:
# Å fikse Paying Contact og Do_Not_Contact column.

tb = pd.read_excel(r'/Users/bedirhankurt/Desktop/Programming/Data Analaysis Project (YFF 2)/Arbeid Delen/output1.xlsx')
tb['Paying Customer'] = tb['Paying Customer'].replace({'Y': 'Yes', 'N': 'No'})
tb['Do_Not_Contact'] = tb['Do_Not_Contact'].replace({'Y': 'Yes', 'N': 'No'})

print(tb.to_string())

    CustomerID First_Name   Last_Name  Phone_Number                                Address Paying Customer Do_Not_Contact
0         1001      Frodo     Baggins  123-545-5421                  123 Shire Lane, Shire             Yes             No
1         1002       Abed       Nadir  123-643-9775                    93 West Main Street              No            Yes
2         1004     Dwight     Schrute  123-543-2345  980 Paper Avenue, Pennsylvania, 18503             Yes            Yes
3         1005        Jon        Snow  876-678-3469                       123 Dragons Road             Yes             No
4         1006        Ron     Swanson  304-762-2467                       768 City Parkway             Yes            Yes
5         1008   Sherlock      Holmes  876-678-3469                          98 Clue Drive              No             No
6         1010      Peter      Parker  123-545-5421             25th Main Street, New York             Yes             No
7         1013        Don      Draper  123-543-2345                       2039 Main Street             Yes             No
8         1014     Leslie       Knope  876-678-3469                       343 City Parkway             Yes             No
9         1015       Toby  Flenderson  304-762-2467                          214 HR Avenue              No             No
10        1016        Ron     Weasley  123-545-5421                   2395 Hogwarts Avenue              No             No
11        1017    Micheal       Scott  123-643-9775         121 Paper Avenue, Pennsylvania             Yes             No
12        1019      Creed      Braton           ---                                    N/a             N/a            Yes
13        1020     Anakin   Skywalker  876-678-3469            910 Tatooine Road, Tatooine             Yes             No

In [10]:
# Å filtre data

tb = tb[tb["Do_Not_Contact"] == "No"]

print(tb.to_string())

    CustomerID First_Name   Last_Name  Phone_Number                         Address Paying Customer Do_Not_Contact
0         1001      Frodo     Baggins  123-545-5421           123 Shire Lane, Shire             Yes             No
3         1005        Jon        Snow  876-678-3469                123 Dragons Road             Yes             No
5         1008   Sherlock      Holmes  876-678-3469                   98 Clue Drive              No             No
6         1010      Peter      Parker  123-545-5421      25th Main Street, New York             Yes             No
7         1013        Don      Draper  123-543-2345                2039 Main Street             Yes             No
8         1014     Leslie       Knope  876-678-3469                343 City Parkway             Yes             No
9         1015       Toby  Flenderson  304-762-2467                   214 HR Avenue              No             No
10        1016        Ron     Weasley  123-545-5421            2395 Hogwarts Avenue              No             No
11        1017    Micheal       Scott  123-643-9775  121 Paper Avenue, Pennsylvania             Yes             No
13        1020     Anakin   Skywalker  876-678-3469     910 Tatooine Road, Tatooine             Yes             No

In [11]:
# Reindex columner

tb = tb.reset_index()

tb = tb.drop(columns=['index'])
print(tb.to_string())

   CustomerID First_Name   Last_Name  Phone_Number                         Address Paying Customer Do_Not_Contact
0        1001      Frodo     Baggins  123-545-5421           123 Shire Lane, Shire             Yes             No
1        1005        Jon        Snow  876-678-3469                123 Dragons Road             Yes             No
2        1008   Sherlock      Holmes  876-678-3469                   98 Clue Drive              No             No
3        1010      Peter      Parker  123-545-5421      25th Main Street, New York             Yes             No
4        1013        Don      Draper  123-543-2345                2039 Main Street             Yes             No
5        1014     Leslie       Knope  876-678-3469                343 City Parkway             Yes             No
6        1015       Toby  Flenderson  304-762-2467                   214 HR Avenue              No             No
7        1016        Ron     Weasley  123-545-5421            2395 Hogwarts Avenue              No             No
8        1017    Micheal       Scott  123-643-9775  121 Paper Avenue, Pennsylvania             Yes             No
9        1020     Anakin   Skywalker  876-678-3469     910 Tatooine Road, Tatooine             Yes             No